﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DropdoenlistDemo.aspx.cs" Inherits="Aashara.DropdoenlistDemo" %>

<!DOCTYPE html>
<head runat="server">  
    <title></title>  
</head>  
<body>  
    <form id="form2" runat="server">  
        <p>Select a City of Your Choice</p>  
        <div>  
            <asp:DropDownList ID="DropDownList1" runat="server" >  
           </asp:DropDownList>  
        </div>  
        <br />  
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Submit" />  
        <br />  
        <br />  
        <asp:Label ID="Label1" runat="server" EnableViewState="False"></asp:Label>  
    </form>  
</body>  
</html>  